/*
Aufgabe: Aufgabe 7 - StudiVZ
Name: Michelle Zeiﬂner
Matrikel: 
Datum: 30.10.2017
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/
