/*
Aufgabe: Aufgabe 8 - RandomBoxes
Name: Michelle Zeiﬂner
Matrikel: 
Datum: 31.12.2017
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/
